################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/installer
/Release
*.aps
/Debug/Shisensho.tlog
/Debug
/Shisensho/x64/Release
/Shisensho/x64/Debug
/x64
